---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Lato, Georgia, serif;
$base-font-size:   18px;
$base-font-weight: 400;
$title-font-family: "Lato", sans-serif;

$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$quote-font-family: "Lora:400italic", Georgia, serif;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #c00000;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap",
        "base",
        "layout",
        "syntax-highlighting";
