---
layout: default
---
<div class="container-fluid text-center main">
  {% include logo.html %}
  <h1>Michel de Bree</h1>
  <h3>Java EE/Full Stack Developer</h3>
  <p>independent, experienced and agile</p>
  <p><a href="https://www.linkedin.com/in/micheldebree">resum&eacute;</a></p>
  <p><a href="mailto:michel@micheldebree.nl?subject=I am very impressed">michel@micheldebree.nl</a></p>
  <p><a href="tel:+31681473884">+31 681 473 884</a></p>
  {% include icon-linkedin.html username="micheldebree" %}
  {% include icon-github.html username="micheldebree" %}
</div>
