---
layout: default
---

<div class="jumbotron">
  <div class="container text-center">
    {% include logo.html %}
    <h1>Michel de Bree</h1>
    <h2>Freelance Java EE Developer</h2>
    <p>I am a freelance software developer with 20+ years of experience who thrives on working on challenging agile projects as part of a multi-disciplinary team.</p>
    {% include icon-linkedin.html username="micheldebree" %}
    {% include icon-github.html username="micheldebree" %}
    {% include icon-twitter.html username="micheldebree" %}
    {% include icon-email.html username="michel@micheldebree.nl" %}
  </div>
</div>
<div class="container text-center">

</div>
