/**
 * Icons
 */
 
 .logo {
   > svg {
       display: inline-block;
       width: 33%;
       height: 33%;
       vertical-align: middle;

       path {
          //  fill: $brand-color;
       }
   }
 }
 
.icon {

    > svg {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
